@font-face {
  font-family: "Whirly Birdie";
  src: url('/fonts/WhirlyBirdieVariable.ttf') format("truetype");
  /* font-variation-settings: "wght" 50, "wdth" 80, "ital" 0; */
  font-variation-settings: "anim" 100, "wght" 60, "wdth" 80, "ital" 15;
  font-weight: 50;
  font-style: normal;
  font-display: fallback;
}

/* @font-face {
  font-family: 'testjbjb';
  src: url('/fonts/testjbjb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
} */

html {
  --main-bg-color: #f1f5f9;
  --myblue: #000ef7;
  --paleblue:#00B5F7;
  --palerblue:#7ADCFF;
  --mygold: #ffee00;
  background-color: var(--main-bg-color);
  /* background-color: var(--myblue); */
  color: var(--mygold);
  font-family: "futura", sans-serif;
  line-height: 1.4;
}

/* html.dark {
  filter: invert();
} */

section {
  background-color: transparent;
  padding: 1em 0;
}

section p {
  max-width: 59ch;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.8;
  color: blue;
  min-height: 101vh;
  /* background-image: url('/oneoverlappingpath.svg'); */
  background-image: url('/twocolorpaths.svg ');
  /* background-image: url('/circsdraw.svg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



* {
  box-sizing: border-box;
}

h1 {
  margin: 3rem 0 0 1rem;
  font-size: 1.5rem;
  display: inline-flex;
  padding: 0.5rem;
  /* margin:0.5 rem 0; */
  border-radius: 12px;
  color: var(--myblue);
  /* color: deepskyblue; */
  /* text-shadow: 1px 2px var(--myblue); */
  /* background-color: var(--mygold); */
  background-size: contain;
  text-transform: uppercase;
  font-variation-settings: "ital" var(--ital, 0), "wdth" var(--wdth, 80);

}

@keyframes breathe {
  0% {
    font-variation-settings: "ital" 0, "wdth" 80
  }

  /* 25% {font-variation-settings: "ital" 10 } */
  50% {
    font-variation-settings: "ital" 20, "wdth" 100
  }

  /* 75% {font-variation-settings: "ital" 10 } */
  100% {
    font-variation-settings: "ital" 0, "wdth" 80
  }
}

h3 {
  color: var(--mygold);
  background-color: var(--myblue);
  text-align: center;
  border-radius: 5px;
  /* font-family: "monaco", " System Mono", 'Lucida Sans', monospace; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: 0.1em;
  /* font-family:"testjbjb"; */
  font-family: "Whirly Birdie", "Futura", "Helvetica", sans-serif;
}

li {
  line-height: 1.8;
}

footer {
  font-size: x-small;
}

footer a {
  /* padding: 0.5rem 1rem; */
  color: white;
  background: var(--myblue);
  text-decoration: none;
  border-radius: 5px;
}

.mylogo { 
  width: 220px;
  position: absolute;
  top: 0;
  left:unset;
  right:0;
}

.prostyle {
  font-family: "Whirly Birdie", "Futura", "Helvetica", sans-serif;
}

.ctrstuff {
  /* max-width: 60ch; */
  max-width: 90ch;
}

.widestuff {
  max-width: 97%;
  margin: 1.5em;
}

/* nav styles */
.hamburger {
  /* padding-right: 20px; */
  padding:10px;
  cursor: pointer;
  max-width: 50px;
}

.hamburger .line {
  display: block;
  opacity:1;
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: var(--myblue);
}

.is-active{
  transition: all 0.3s ease-in-out;
}
#line1.is-active{
  transform: rotate(45deg) translate(0, 15px);
}
#line2.is-active{
  opacity: 0;
}
#line3.is-active{
  transform: rotate(-45deg) translate(0, -15px);
}

/* // this is mobile  */
.nav-links {
  /* display: none; */
  /* was display none but wouldn't animate.  */
  display:block;
  transform:translateY(-140px);
   border-bottom:5px solid var(--main-bg-color);

  /* transition: all .3s ease; */
  /* opacity:0.5; */
  width: 100%;
  top: 3rem;
  max-width: 50ch;
  margin: 0 auto;
  background: var(--main-bg-color);
}

/* this is for mobile  */
.nav-links a {
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 0.1rem 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius:12px;
  font-family: "Whirly Birdie", "Futura", "Helvetica", sans-serif;
  font-variation-settings: "wght" 60, "wdth" 80, "ital" 0;
  color: var(--myblue); 
  background-color: var(--mygold);
border-bottom:5px solid var(--main-bg-color);
  transform:translateY(-250px);
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--main-bg-color);
   border-bottom:5px solid var(--mygold);
  font-variation-settings: "wght" 60, "wdth" 80, "ital" 20;
  transition: all 0.2s ease-in-out;
}
.nav-links a.active {
  /* background:skyblue; */
  /* background-color: var(--mygold); */
   border-bottom:5px solid var(--mygold);
  /* font-variation-settings: "wght" 60, "wdth" 80, "ital" 20; */
}

.mylogo {
  width: 220px;
  position: absolute;
  top: 10px;
  /* left: 1.5em; */
  left:unset;
  right: 10px;
}
/* .collapsid{ */
  /* transform:translateY(-50px); */
  /* padding-bottom:100px; */
  /* opacity:0.1;  */
/* } */

.expanded {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin:10px auto;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.nav-links.expanded a {
  border: 5px solid var(--main-bg-color);
  transform:translateY(0px);
  transition: transform 0.3s ease;
}

.centerme {
  display: flex;
  justify-content: center;
}

.holder {
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.65);
  border: 2px dashed var(--myblue);
  border-radius: 1em;
  text-align: center;
  margin: 1em auto;
  padding-top: 2em;
}

#banneran {
  width: 100%;
  height: auto;
}

.coupgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  grid-gap: 30px;
  align-items: stretch;
}

.coupgrid img {
  border: 1px solid #ccc;
  max-width: 100%;
  height: auto;
}

.coupgrid>img::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

#jbjself {
  animation-name: hueman;
  animation-duration: 2.6s;
  animation-iteration-count: 1;
  border-radius: 50%;
  margin: 20px 0;
}

.downr {
    position: absolute;
    top: 50px;
    right: 10px;
}

.wrapper{
  display:flex;
  flex-direction:column;
}

.side{
  margin-left:0;
}

.jbsig {
  max-width: 300px;
  height: auto;
  display: block;
  /* opacity: 0; */
  position: relative;
  position:absolute;
}

#jbjsig path {
  fill: none;
  stroke-linejoin: round;
  /* stroke: #D95252; */
  stroke:var(--myblue);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 38;
}

/* // resume animated sig:  */
.john {
  position: relative;
  left: -2px;
  width: 100%;
  max-width: 470px;
  height: auto;
  display: block;
  opacity: 0;
  stroke:var(--myblue);
  fill:none;  
  stroke-width: 2.5px;
  stroke-linecap: round;
  stroke-dasharray: 38;
  /* stroke-dasharray: 1200; */
}

@view-transition {
  navigation: auto;
}

@keyframes hueman {
  0% {
    filter:contrast(1) hue-rotate(0deg);
   }

50% {
     filter:contrast(5) hue-rotate(-65deg);
  }

  100% {
    /* filter: sepia(0); */
    /* filter: hue-rotate(3deg); */
    filter:contrast(1) hue-rotate(0deg);
  }
}


@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    justify-content: space-evenly;
    position: static;
    width: auto;
    transform:translateY(0);
    /* background: var(--main-bg-color); */
  }

  .nav-links a {
    display: inline-block;
    padding: 0 8px;
     background-color:transparent;
     border-radius:1px;
    transform:translateY(0);
  }
  .wrapper{
    flex-direction:row;
  }
  .side{
    margin-left: 6em;
  }

  .hamburger {
    display: none;
  }

  .mylogo {
    width: 220px;
    position: absolute;
    top: 62px;
    left: 1.5em;
    right:unset;
  }


  section {
    padding: 4em 1.5em;
  }

}