@font-face {
  font-family: "Whirly Birdie";
  src: url('/fonts/WhirlyBirdieVariable.ttf') format("truetype");
  /* font-variation-settings: "wght" 50, "wdth" 80, "ital" 0; */
  font-variation-settings: "anim" 100, "wght" 60, "wdth" 80, "ital" 15;
  font-weight: 50;
  font-style: normal;
  font-display: fallback;
}

/* @font-face {
  font-family: 'testjbjb';
  src: url('/fonts/testjbjb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
} */

html {
  --main-bg-color: #f1f5f9;
  --myblue: #000ef7;
  --mygold: #ffee00;
  background-color: var(--main-bg-color);
  /* background-color: var(--myblue); */
  color: var(--mygold);
  font-family: "futura", sans-serif;
  /* font-family: "Whirly Birdie", sans-serif; */
  /* font-variation-settings: "wght" 60, "wdth" 150, "ital" 0; */
  /* font-weight: 60; */
  line-height: 1.4;
}

/* html.dark {
  filter: invert();
} */

section {
  background-color: transparent;
  padding: 1em 0;
  border-radius: 1em;
}

section p {
  max-width: 70ch;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.8;
  color: blue;
  min-height: 100vh;
  /* background-image: url('/oneoverlappingpath.svg'); */
  background-image: url('/threeoverlappingpaths.svg');
  background-size: cover;
  background-repeat: repeat;
}



* {
  box-sizing: border-box;
}

h1 {
  margin: 3rem 0 0 0;
  font-size: 2rem;
  display: inline-flex;
  padding: 0 1rem;
  border-radius: 12px;
  color: var(--myblue);
  /* color: deepskyblue; */
  /* text-shadow: 1px 2px var(--myblue); */
  background-color: var(--mygold);
  background-size: contain;
  text-transform: uppercase;
  font-variation-settings: "ital" var(--ital, 0), "wdth" var(--wdth, 80);

}

@keyframes breathe {
  0% {
    font-variation-settings: "ital" 0, "wdth" 80
  }

  /* 25% {font-variation-settings: "ital" 10 } */
  50% {
    font-variation-settings: "ital" 20, "wdth" 100
  }

  /* 75% {font-variation-settings: "ital" 10 } */
  100% {
    font-variation-settings: "ital" 0, "wdth" 80
  }
}

h3 {
  color: var(--mygold);
  background-color: var(--myblue);
  text-align: center;
  border-radius: 5px;
  /* font-family: "monaco", " System Mono", 'Lucida Sans', monospace; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: 0.1em;
  /* font-family:"testjbjb"; */
  font-family: "Whirly Birdie", "futura", sans-serif;
}

li {
  line-height: 1.8;
}

footer {
  font-size: x-small;
}

footer a {
  /* padding: 0.5rem 1rem; */
  color: white;
  background: var(--myblue);
  ;
  text-decoration: none;
  border-radius: 5px;
}

.mylogo {
  width: 220px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.prostyle {
  font-family: "Whirly Birdie", "futura", sans-serif;
}

.ctrstuff {
  /* max-width: 60ch; */
  max-width: 90ch;
}

.widestuff {
  max-width: 97%;
  margin: 1.5em;
}

/* nav styles */
.hamburger {
  /* padding-right: 20px; */
  padding:10px;
  cursor: pointer;
  max-width: 50px;
}

.hamburger .line {
  display: block;
  opacity:1;
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: var(--myblue);
}

.is-active{
  /* transform: rotate(90deg); */
  transition: transform 0.3s ease;
}
#line1.is-active{
  transform: rotate(45deg) translate(0, 15px);
}
#line2.is-active{
  opacity: 0;
}
#line3.is-active{
  transform: rotate(-45deg) translate(0, -15px);
}

.nav-links {
  display: none;
  width: 100%;
  top: 3rem;
  max-width: 50ch;
  margin: 0 auto;
  background: var(--main-bg-color);
}

.nav-links a {
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  padding: 0.2rem 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius:12px;
  font-family: "Whirly Birdie";
  font-variation-settings: "wght" 60, "wdth" 80, "ital" 0;
  background-color: var(--mygold);
  color: var(--myblue); 
  transform:translateY(-250px);
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--main-bg-color);
  font-variation-settings: "wght" 60, "wdth" 80, "ital" 20;
  transition: all 0.2s ease-in-out;
}

.mylogo {
  width: 220px;
  position: absolute;
  top: 10px;
  left: unset;
  right: 10px;
}

.expanded {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin:10px auto;
}

.nav-links.expanded a {
    border: 5px solid var(--main-bg-color);
    transform:translateY(0px);
  transition: transform 0.3s ease;
}

.centerme {
  display: flex;
  justify-content: center;
}

.holder {
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.65);
  border: 2px dashed var(--myblue);
  border-radius: 1em;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
}

#banneran {
  width: 100%;
  height: auto;
}

/* couples wide  */

/* body{
            margin:30px auto;
            padding:0;
        } */

.coupgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  grid-gap: 30px;
  align-items: stretch;
}

.coupgrid img {
  border: 1px solid #ccc;
  max-width: 100%;
  height: auto;
}

.coupgrid>img::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

#jbjself {
  /* float:right; */
  animation-name: hueman;
  animation-duration: 11s;
  animation-iteration-count: 3;
  border-radius: 50%;
}

@view-transition {
  navigation: auto;
}

@keyframes hueman {
  0% {
    /* filter: hue-rotate(0deg) */
    filter:sepia(0);
  }

50% {
    filter: sepia(1);
  }

  100% {
    filter: sepia(0);
  }
}


@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    justify-content: space-evenly;
    position: static;
    width: auto;
    /* background: var(--main-bg-color); */
  }

  .nav-links a {
    display: inline-block;
    padding: 5px 15px;
    transform:translateY(0);
  }


  .hamburger {
    display: none;
  }

  .mylogo {
    width: 220px;
    position: absolute;
    top: 80px;
    left: 20px;
  }

  section {
    padding: 4em 1.5em;
  }

}