---

import BaseLayout from '../layouts/BaseLayout.astro';


// import Navigation from '../components/Navigation.astro';
// import Footer from '../components/Footer.astro';
// import Header from '../components/Header.astro';


import '../styles/global.css';

const pageTitle = "About me";

const identity = {
  firstName: "Brad",
  country: "USA",
  occupation: "web animator",
  hobbies: ["musician", "bicyclist", "cartoonist", "dog walker"],
};

const skills = ["none, none, none", "none", "sleeping"];

// const happy = true;
// const finished = true;
// const goal = 3;
// const h1color = "purple";

---

<!-- <style is:global define:vars={{skillColor, fontWeight, textCase}}>

    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style> -->

<BaseLayout pageTitle={pageTitle}>

<section class="bio"> 

<img id="jbjself" src="/self_01252024_600x600.jpg" alt="portrait of the author" width="280" height="280" />

<p>
Long ago, I drew comics and worked at <br><a href="https://lastgasp.com/" target="_blank">Last Gasp of San Francisco</a>. 
I've been building animations for websites since 1999. <br>
I sometimes make <a href="https://virginiadaresf.com/" target="_blank">music</a> with <a href="https://www.maryoneiljohnson.com/" target="_blank">Mary O'Neil</a>.<br>
We live in Upstate NY with our dog Betty.
</p>





  </section>


</BaseLayout>  


