<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>about: J Bradley Johnson</title>
  </head>
  <body>
    <a href="../">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>I am many things, such as for example, you.</h1>

    <p>I am a lefty but I get along with people in general. 
        I have always strived to love everybody. As a child, I learned that this is the way our saviour Jesus Christ did things.</p>

    <p>For work I am currently animating 3D cubes for PwC.</p>
    <p>For pleasure, I mostly play music. </p>
  </body>
</html>
