---
import WideLayout from '../layouts/WideLayout.astro';
import '../styles/global.css';

const pageTitle = 'Couples Drawings';
const fontWeight = "bold";
const textCase = "uppercase";
const skillColor ="fuchsia";
---
<style is:global define:vars={{skillColor, fontWeight, textCase}}>


        @font-face{ 
            font-family: 'testjbja';
            src: url('.https://www.jbradleyjohnson.net/fonts/testjbjb.eot');
            src: url('https://www.jbradleyjohnson.net/fonts/testjbjb.eot');

            src: url('https://www.jbradleyjohnson.net/fonts/testjbjb-webfont.woff') format('woff'),
                 url('https://www.jbradleyjohnson.net/fonts/testjbjb.ttf') format('truetype'),
                 url('https://www.jbradleyjohnson.net/fonts/testjbjb.svg#webfont') format('svg');
        }


        body{
            margin:30px auto;
            padding:0;
        }
        h1, h2, h3{
            font-family: 'testjbja', monospace;
            text-transform: uppercase;
            letter-spacing: .1em;
            color:deepskyblue;
            font-size: 40px;
        }
        .grid { 
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
          grid-gap: 30px;
          align-items: stretch;
          }
        .grid img {
          border: 1px solid #ccc;
          max-width: 100%;
          height:auto;
        }
        .grid > img::before {
            content: "";
            padding-bottom: 100%;
            display: block;
        }
        </style>


<WideLayout pageTitle={pageTitle}>

    <h1> “Just Married” sketches</h1>
    <main class="grid">

        <picture>
            <source srcset="/webp/IMG_6744.webp" type="image/webp">
            <img src="IMG_6744.jpeg" alt="">
        </picture>

        <picture>
            <source srcset="/webp/0AD0BCE0-C19D-4406-9E96-154A48290EFA.webp" type="image/webp">
            <img src="0AD0BCE0-C19D-4406-9E96-154A48290EFA.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/0D7ED82A-5197-4B56-8EC1-07C7A5FAC400.webp" type="image/webp">
            <img src="0D7ED82A-5197-4B56-8EC1-07C7A5FAC400.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/3A88FE2D-92F1-4CE9-A0B3-36AED92F4D97.webp" type="image/webp">
            <img src="3A88FE2D-92F1-4CE9-A0B3-36AED92F4D97.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6735.webp" type="image/webp">
            <img src="IMG_6735.jpeg" alt="in a car">
        </picture>
        <picture>
            <source srcset="/webp/6FE16B09-F2B1-4219-B82E-05A3900076CE.webp" type="image/webp">
            <img src="6FE16B09-F2B1-4219-B82E-05A3900076CE.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/6FF60DC2-24B7-4FA7-A18E-A6B8A2CCDEA5.webp" type="image/webp">
            <img src="6FF60DC2-24B7-4FA7-A18E-A6B8A2CCDEA5.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/9AB7917D-A3B8-4BC9-A66D-1FECD0B4B521.webp" type="image/webp">
            <img src="9AB7917D-A3B8-4BC9-A66D-1FECD0B4B521.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6776.webp" type="image/webp">
            <img src="IMG_6776.jpeg" alt="a favorite">
        </picture>
        <picture>
            <source srcset="/webp/58AA03F7-F108-46EF-99B9-553ACD1FF0A4.webp" type="image/webp">
            <img src="58AA03F7-F108-46EF-99B9-553ACD1FF0A4.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/69D45264-AF7D-47F7-9B98-E2CBC614B141.webp" type="image/webp">
            <img src="69D45264-AF7D-47F7-9B98-E2CBC614B141.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/164D57E2-FF02-4106-B4AE-BD5AB2FF2CEF.webp" type="image/webp">
            <img src="164D57E2-FF02-4106-B4AE-BD5AB2FF2CEF.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/226ED558-AE93-4906-A783-FB737384B7F2.webp" type="image/webp">
            <img src="226ED558-AE93-4906-A783-FB737384B7F2.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/272F6B54-AA4F-4776-831F-86DCF5725847.webp" type="image/webp">
            <img src="272F6B54-AA4F-4776-831F-86DCF5725847.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/385ACD67-245E-4630-A617-33A38ABB603A.webp" type="image/webp">
            <img src="385ACD67-245E-4630-A617-33A38ABB603A.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/6278BA46-29B5-47C3-AE5D-D224D165ADC2.webp" type="image/webp">
            <img src="6278BA46-29B5-47C3-AE5D-D224D165ADC2.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/7671AD19-512C-4764-BE88-15F8B6822667.webp" type="image/webp">
            <img src="7671AD19-512C-4764-BE88-15F8B6822667.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/9143B724-2A72-4669-BC8B-15857F2B47EA.webp" type="image/webp">
            <img src="9143B724-2A72-4669-BC8B-15857F2B47EA.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/61665FF4-D85F-4DAE-887F-BC259C6EC944.webp" type="image/webp">
            <img src="61665FF4-D85F-4DAE-887F-BC259C6EC944.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/861837E4-ACF6-40FE-8905-7E46B8D904E1.webp" type="image/webp">
            <img src="861837E4-ACF6-40FE-8905-7E46B8D904E1.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/A80F7209-7C6F-42C7-81D4-B4A51BF747A2.webp" type="image/webp">
            <img src="A80F7209-7C6F-42C7-81D4-B4A51BF747A2.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/B4359C55-9664-48AE-B8A7-B01BA14BE4E3.webp" type="image/webp">
            <img src="B4359C55-9664-48AE-B8A7-B01BA14BE4E3.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/CB1D8833-DC26-46CB-8671-673CF92105D7.webp" type="image/webp">
            <img src="CB1D8833-DC26-46CB-8671-673CF92105D7.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/CB50E524-7143-4850-8405-E76D15ED6FF2.webp" type="image/webp">
            <img src="CB50E524-7143-4850-8405-E76D15ED6FF2.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/EDF81270-921C-4719-9042-EBB54956DA0B.webp" type="image/webp">
            <img src="EDF81270-921C-4719-9042-EBB54956DA0B.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/FC6BBE8E-CD5A-4012-BD10-1635252C8B24.webp" type="image/webp">
            <img src="FC6BBE8E-CD5A-4012-BD10-1635252C8B24.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/FF2DBD7E-94E1-476D-87E5-4709DECB8137.webp" type="image/webp">
            <img src="FF2DBD7E-94E1-476D-87E5-4709DECB8137.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/FF03A20E-7459-4493-9F54-F80F39CA5324.webp" type="image/webp">
            <img src="FF03A20E-7459-4493-9F54-F80F39CA5324.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0085.webp" type="image/webp">
            <img src="IMG_0085.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0179.webp" type="image/webp">
            <img src="IMG_0179.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0184.webp" type="image/webp">
            <img src="IMG_0184.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0241.webp" type="image/webp">
            <img src="IMG_0241.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0245.webp" type="image/webp">
            <img src="IMG_0245.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0447.webp" type="image/webp">
            <img src="IMG_0447.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0564.webp" type="image/webp">
            <img src="IMG_0564.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0599.webp" type="image/webp">
            <img src="IMG_0599.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_0831.webp" type="image/webp">
            <img src="IMG_0831.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_5815.webp" type="image/webp">
            <img src="IMG_5815.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_5862.webp" type="image/webp">
            <img src="IMG_5862.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_5867.webp" type="image/webp">
            <img src="IMG_5867.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_5883.webp" type="image/webp">
            <img src="IMG_5883.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_5889.webp" type="image/webp">
            <img src="IMG_5889.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_5902.webp" type="image/webp">
            <img src="IMG_5902.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6660.webp" type="image/webp">
            <img src="IMG_6660.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6662.webp" type="image/webp">
            <img src="IMG_6662.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6670.webp" type="image/webp">
            <img src="IMG_6670.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6677.webp" type="image/webp">
            <img src="IMG_6677.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6680.webp" type="image/webp">
            <img src="IMG_6680.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6698.webp" type="image/webp">
            <img src="IMG_6698.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6726.webp" type="image/webp">
            <img src="IMG_6726.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/12A95178-ED6F-43DC-BCD3-963B348A4312.webp" type="image/webp">
            <img src="12A95178-ED6F-43DC-BCD3-963B348A4312.jpeg" alt="arms folded">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6739.webp" type="image/webp">
            <img src="IMG_6739.jpeg" alt="">
        </picture>
        
        <picture>
            <source srcset="/webp/IMG_6754.webp" type="image/webp">
            <img src="IMG_6754.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6789.webp" type="image/webp">
            <img src="IMG_6789.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6794.webp" type="image/webp">
            <img src="IMG_6794.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6800.webp" type="image/webp">
            <img src="IMG_6800.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6820.webp" type="image/webp">
            <img src="IMG_6820.jpeg" alt="">
        </picture>
        <!-- <picture>
            <source srcset="/webp/IMG_6821.webp" type="image/webp">
            <img src="IMG_6821.jpeg" alt="">
        </picture> -->
        <picture>
            <source srcset="/webp/IMG_6840.webp" type="image/webp">
            <img src="IMG_6840.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6846.webp" type="image/webp">
            <img src="IMG_6846.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6852.webp" type="image/webp">
            <img src="IMG_6852.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6861.webp" type="image/webp">
            <img src="IMG_6861.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_6952.webp" type="image/webp">
            <img src="IMG_6952.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7078.webp" type="image/webp">
            <img src="IMG_7078.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7085.webp" type="image/webp">
            <img src="IMG_7085.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7093.webp" type="image/webp">
            <img src="IMG_7093.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7106.webp" type="image/webp">
            <img src="IMG_7106.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7140.webp" type="image/webp">
            <img src="IMG_7140.jpeg" alt="">
        </picture>
        <!-- <img src="IMG_7206.jpeg" alt="star eyes death watch"> -->
        <picture>
            <source srcset="/webp/IMG_7453.webp" type="image/webp">
            <img src="IMG_7453.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7479.webp" type="image/webp">
            <img src="IMG_7479.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7493.webp" type="image/webp">
            <img src="IMG_7493.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7505.webp" type="image/webp">
            <img src="IMG_7505.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7516.webp" type="image/webp">
            <img src="IMG_7516.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7540.webp" type="image/webp">
            <img src="IMG_7540.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7549.webp" type="image/webp">
            <img src="IMG_7549.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7580.webp" type="image/webp">
            <img src="IMG_7580.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7602.webp" type="image/webp">
            <img src="IMG_7602.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7612.webp" type="image/webp">
            <img src="IMG_7612.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7624.webp" type="image/webp">
            <img src="IMG_7624.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7634.webp" type="image/webp">
            <img src="IMG_7634.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7681.webp" type="image/webp">
            <img src="IMG_7681.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7698.webp" type="image/webp">
            <img src="IMG_7698.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7705.webp" type="image/webp">
            <img src="IMG_7705.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7712.webp" type="image/webp">
            <img src="IMG_7712.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7721.webp" type="image/webp">
            <img src="IMG_7721.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7735.webp" type="image/webp">
            <img src="IMG_7735.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7784.webp" type="image/webp">
            <img src="IMG_7784.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7814.webp" type="image/webp">
            <img src="IMG_7814.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7822.webp" type="image/webp">
            <img src="IMG_7822.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7843.webp" type="image/webp">
            <img src="IMG_7843.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7865.webp" type="image/webp">
            <img src="IMG_7865.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_7888.webp" type="image/webp">
            <img src="IMG_7888.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_8216.webp" type="image/webp">
            <img src="IMG_8216.jpeg" alt="">
        </picture>
        <picture>
            <source srcset="/webp/IMG_9552.webp" type="image/webp">
            <img src="IMG_9552.jpeg" alt="">
        </picture>
        <!-- <img src="IMG_9638.jpeg" alt="incomplete color"> -->
        <picture>
            <source srcset="/webp/IMG_9682.webp" type="image/webp">
            <img src="IMG_9682.jpeg" alt="">
        </picture>


















      </main>


    </BaseLayout>