---
import WideLayout from '../layouts/WideLayout.astro';
import '../styles/global.css';




const pageTitle = 'resumé';


---



<WideLayout pageTitle={pageTitle}>

    <section class="resume shortprint">


  <div class="container">

    <h4 id="tagline">CREATIVE DEVELOPER<br />Ballston Spa, NY</h4>
    <div class="downr noprint"><a href="https://jbradleyjohnson.net/JBradleyJohnson052026.pdf">download pdf</a></div>
    <div class="wrapper">
      <div class="box main">
        <h2><span>Experience:</span></h2>
        <ul class="startopen" id="mainul">
          <li>
            <p class="itemhead">
              PwC USA Creative Team, Web Animation/Manager, March 2021&ndash;Nov 2025 
            </p>
             <p>
              Built animations, interactive charts, and illustrations for PwC as part of the team that won IHAF In-House Agency of the Year Award (2021). Developed experiences using JavaScript, SVG, WebGL, GSAP timelines, and ScrollTrigger interactions. Ensured high performance and accessibility standards within the company’s AEM implementation.
            </p>

          </li>
          <li>
            <p class="itemhead">
              Freelance design and development, July 2019&ndash;March 2021
            </p>
            <p>
              Sole proprietor building responsive sites, SVG animations and
              interactive content for various clients.
            </p>
          </li>

          <li>
            <p class="itemhead">
              AKQA San Francisco, Senior Creative Developer, 2005&ndash;July 2019
            </p>
            <p>
        Oversaw development of all digital advertising built in the San Francisco office. Built site content, rich media and display advertising. Styled websites for Nike Jordan, Genentech and Activision using CSS and SASS with AEM components. Responsible for maintaining quality and visual consistency throughout delivery across multiple brands, such as Audi, Google, Levi's, Nike and XBox.
            </p>
          </li>
          <li>
            <p class="itemhead">
              California College of the Arts, instructor. 2004&ndash;2006
            </p>
            <p>
              Taught a Flash course for CCA&rsquo;s extended education
              program. Developed a project-based curriculum emphasizing
              scripting, animation and design.
            </p>
          </li>

          <!-- <li>
            <p class="itemhead">Freelance designer. 1998 to 2005</p>
            <p>
              Designer specializing in websites and animation. Clients included Williams-Sonoma, Em Dash design, Mediatrope, Razorfish,
              and various San Francisco agencies.
            </p>
          </li> -->



          <!-- <li>
            <p class="itemhead">
              Last Gasp of San Francisco, print and web. 1987&ndash;2000
            </p>
            <p>
              Publisher and distributor of books and comics. Design, layout
              and production roles.
            </p>
          </li> -->
        </ul>
      </div>

      <div class="box side">
 

        <h2><span>Skills:</span></h2>
        <ul id="ul2" class="startopen">
          <li>
            <p>
              <span class="strongi">Design tools</span>: Adobe Creative Cloud
              (Animate, Photoshop, Illustrator, InDesign, AfterEffects),
              Sketch, Figma
            </p>
          </li>
          <li>
            <p>
              <span class="strongi">Development tools</span>: HTML, CSS,
              JavaScript, JQuery, GSAP/ScrollTrigger, Three.js, Git
            </p>
          </li>
          <!-- <li>
            <p>
              <span class="strongi">Ad platforms</span>: Flashtalking, Google
              and Sizmek. Dynamic Creative. Google Studio certified.
            </p>
          </li> -->
          <li>
            <p>
              <span class="strongi">CMS/blog</span>: Adobe Experience Manager,
              WordPress, Astro, Learning Cart, Squarespace.
              <!-- Jira, Slack, Confluence, Agile/Scrum for project management. Gridsome, -->
            </p>
          </li>
        </ul>
        

        <div class="contact">
          <h2>
            <!-- <span class="line">&nbsp;&nbsp;</span>&nbsp; Summary &nbsp;<span class="line">&nbsp;&nbsp;</span> -->
            <span class="line">Contact:</span>
          </h2>
          <ul>
            <li>
          mobile: 518-226-1979</li>
          <li>
          LinkedIn: <a href="https://www.linkedin.com/in/geedix/">linkedin.com/in/geedix</a>
          </li></ul>
        </div>

        <div class="summary">
          <h2>
            <!-- <span class="line">&nbsp;&nbsp;</span>&nbsp; Summary &nbsp;<span class="line">&nbsp;&nbsp;</span> -->
            <span class="line">Summary:</span>
          </h2>
          <p>
            Detail-oriented front-end developer and designer
            specializing in scripted and timeline animation, development and responsive design.
            I bring a calm and positive outlook to any project.
          </p>
        </div>

      </div>
    </div>
  </div>


</section>
