---
import BaseLayout from "../layouts/BaseLayout.astro";

// import { gsap } from "gsap";
// import { Flip } from "gsap/all";
// gsap.registerPlugin("Flip");

// import { ScrollTrigger } from "gsap/all";
// import { ScrollTrigger } from "gsap/ScrollTrigger";
// import {ScrollTrigger} from "gsap/dist/ScrollTrigger";
// import ScrollTrigger from "gsap/dist/ScrollTrigger";
// import { CustomEase } from "gsap/dist/CustomEase"
// import { CustomEase } from "gsap/dist/CustomEase";

// import { ScrollTrigger } from 'gsap/ScrollTrigger'
// import { CustomEase } from "gsap/CustomEase";

// const { CustomEase } = await import("gsap/CustomEase");

// gsap.registerPlugin(CustomEase);

// if (typeof window !== "undefined") {
//   gsap.registerPlugin(ScrollTrigger);
//   gsap.registerPlugin(CustomEase);
// }
// gsap.registerPlugin(ScrollTrigger);
// gsap.registerPlugin(CustomEase);


// import { SplitText } from "gsap/SplitText";
// import Navigation from '../components/Navigation.astro';
// import Footer from '../components/Footer.astro';
// import Header from '../components/Header.astro';

import "../styles/global.css";

const pageTitle = "web animation work";

// const currentPath = Astro.url.pathname;
// console.log("current:"+currentPath);


---

<!-- <style is:global define:vars={{fontWeight, textCase}}>

    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style> -->
<BaseLayout pageTitle={pageTitle}>
  
  <!-- <p><a href="/couples/">Couples Drawings</a></p> -->

  
  <section>
    <p>
      I make animations and interactive graphics for web sites. 
    </p>

<div class="holdsvg">
  <!-- <svg id="archsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 650" preserveAspectRatio="xMaxYMax meet" role="img"> -->
  <svg id="archsvg" xmlns="http://www.w3.org/2000/svg" viewBox="260 118 1300 540" preserveAspectRatio="xMinYMid slice" role="img">

    <defs>
      <circle id="dot" cx="0" cy="0" r="5" />

      <style>
        .holdsvg {
          width: 100%;
          overflow: hidden;
          max-height: 700px;
          display: flex;
          flex-direction: row-reverse;
          background-color:#000;
        }

        .yedot {
          fill: #ffb600;
        }

        .redot {
          fill: #e0301e;
        }

        .rodot {
          fill: #d93954;
        }

        #archsvg {
          width: 100%;
          max-width: 1600px;
          overflow: visible;
        }

        .b4 {
          visibility: hidden;
        }
        #thetext{
          transform: translate(160px, 0);
        }

        .oversvg{
          fill:#fff;
          font-family:'Georgia', monospace;
          font-size:34px;
          max-width:300px;
          letter-spacing:0.03em;
        }
      </style>

    </defs>

<g id="thetext">

  <text x="140" y="190" class="oversvg">
      I designed and built several variations on  
    </text>
    
   <text x="140" y="240" class="oversvg">
this dot animation theme for PwC. 
     </text>
  </g>
  </svg>

</div>

    <p>
     For the past five years, I was an animator on PwC’s internal creative team. That team was dissolved in November, but some of my animations are still running on the PwC site:
    </p>
    <ul>
      <li>
        <a
          href="https://www.pwc.com/us/en/tech-effect/cloud/cloud-ai-business-survey.html" target="_blank">PwC Cloud and AI survey</a> - hero animation
      </li>
      <!-- <li>
        <a
          href="https://www.pwc.com/us/en/tech-effect/ai-analytics/generative-ai-impact-on-business.html"
          >Gen AI: arch</a> - hero design and animation
      </li>
      <li>
        <a
          href="https://www.pwc.com/us/en/tech-effect/ai-analytics/six-generative-ai-business-myths.html">Gen AI: triangle</a> - hero design and animation
      </li> 
      
      
      <li>
        <a
          href="https://www.pwc.com/us/en/tech-effect/ai-analytics/ai-business-strategy.html"> 3d cubes</a> that appear in margins on scroll, first on right, then on left
      </li>
      
      
      -->
      <li>
        <a href="https://www.pwc.com/us/en/tech-effect/emerging-tech/demystifying-the-metaverse.html" target="_blank">
          Demystifying the Metaverse</a> - hero animation
      </li>
      <li>
        <a href="https://www.pwc.com/us/en/tech-effect/emerging-tech/5g-monetization.html" target="_blank">5G Monetization</a> - hero animation
      </li>
      <li>
        <a href="https://www.pwc.com/us/en/tech-effect/emerging-tech/microsoft-transforms-gameday-experience.html" target="_blank">PwC/Microsoft Gameday</a> - hero and divider animations
      </li>
    </ul>


<div class="flexwrap">
  <div id="wrapper" class='backback'>

    <div id="triangles">

      <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300">
          <defs>
    <style>

    #wrapper {
      position: relative;
      display: inline-block;
      background-color: white;
      width: 300px;
      height: 300px;
      overflow: hidden;
      box-sizing: border-box;
    }
    .flexwrap{
      display:flex;
      justify-content: center;
    }

    .backback {
      position: absolute;
      width: 300px;
      height: 300px;      
      background-color:#3253A1;
      background-size:300px 300px;
    }

    #whiteback {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 300px;
      background-color: white;
    }

    #triangles {
      position:absolute;
      top:0;
      left:0;
      background-color: #3253A1;
      width: 300px;
      height: 300px;
    }

    #bluebox polygon{
      opacity:0;
      fill: #79BFFC;
    }
    </style>
  </defs>
    
          <g id="bluebox">

            <polygon points="258 237 256 267 223 272 258 237 258 237"/>
            <polygon points="234 216 258 237 233 233 234 216 234 216"/>
            <polygon points="233 233 223 272 212 235 233 233 233 233"/>
            <polygon points="140 172 168 183 154 214 140 172 140 172"/>
            <polygon points="212 235 223 272 189 266 212 235 212 235"/>
            <polygon points="75 250 92 254 65 265 75 250 75 250"/>
            <polygon points="176 247 189 266 145 267 176 247 176 247"/>
            <polygon points="140 172 126 197 108 189 140 172 140 172"/>
            <polygon points="252 193 234 216 200 206 252 193 252 193"/>
            <polygon points="295 258 270 284 256 267 295 258 295 258"/>
            <polygon points="297 289 281 310 270 284 297 289 297 289"/>
            <polygon points="281 310 260 312 270 284 281 310 281 310"/>
            <polygon points="308 262 297 289 295 258 308 262 308 262"/>
            <polygon points="315 230 308 262 295 224 315 230 315 230"/>
            <polygon points="315 230 295 224 291 195 315 230 315 230"/>
            <polygon points="270 284 260 312 239 296 270 284 270 284"/>
            <polygon points="260 312 217 320 239 296 260 312 260 312"/>
            <polygon points="200 289 217 320 188 305 200 289 200 289"/>
            <polygon points="188 305 154 311 149 294 188 305 188 305"/>
            <polygon points="149 294 126 311 121 281 149 294 149 294"/>
            <polygon points="121 281 126 311 89 305 121 281 121 281"/>
            <polygon points="121 281 89 305 74 285 121 281 121 281"/>
            <polygon points="74 285 57 306 45 276 74 285 74 285"/>
            <polygon points="89 305 77 306 74 285 89 305 89 305"/>
            <polygon points="77 306 57 306 74 285 77 306 77 306"/>
            <polygon points="149 294 154 311 126 311 149 294 149 294"/>
            <polygon points="239 296 217 320 200 289 239 296 239 296"/>
            <polygon points="200 289 188 305 149 294 200 289 200 289"/>
            <polygon points="200 289 149 294 145 267 200 289 200 289"/>
            <polygon points="145 267 149 294 121 281 145 267 145 267"/>
            <polygon points="295 258 297 289 270 284 295 258 295 258"/>
            <polygon points="258 237 295 258 256 267 258 237 258 237"/>
            <polygon points="173 219 200 206 176 247 173 219 173 219"/>
            <polygon points="150 233 154 214 173 219 150 233 150 233"/>
            <polygon points="150 233 173 219 176 247 150 233 150 233"/>
            <polygon points="111 233 150 233 145 267 111 233 111 233"/>
            <polygon points="111 233 145 267 121 281 111 233 111 233"/>
            <polygon points="85 214 126 197 111 233 85 214 85 214"/>
            <polygon points="126 197 154 214 111 233 126 197 126 197"/>
            <polygon points="72 189 108 189 85 214 72 189 72 189"/>
            <polygon points="182 149 204 152 202 168 182 149 182 149"/>
            <polygon points="282 141 303 154 266 175 282 141 282 141"/>
            <polygon points="234 157 266 175 252 193 234 157 234 157"/>
            <polygon points="217 138 234 157 204 152 217 138 217 138"/>
            <polygon points="142 126 176 129 182 149 142 126 142 126"/>
            <polygon points="68 143 92 141 89 161 68 143 68 143"/>
            <polygon points="68 224 85 214 75 250 68 224 68 224"/>
            <polygon points="85 214 111 233 92 254 85 214 85 214"/>
            <polygon points="46 203 85 214 68 224 46 203 46 203"/>
            <polygon points="72 189 89 161 108 189 72 189 72 189"/>
            <polygon points="50 247 75 250 65 265 50 247 50 247"/>
            <polygon points="111 233 121 281 92 254 111 233 111 233"/>
            <polygon points="92 254 121 281 65 265 92 254 92 254"/>
            <polygon points="45 230 68 224 50 247 45 230 45 230"/>
            <polygon points="68 163 72 189 46 203 68 163 68 163"/>
            <polygon points="297 289 308 262 317 297 297 289 297 289"/>
            <polygon points="65 265 121 281 74 285 65 265 65 265"/>
            <polygon points="72 189 85 214 46 203 72 189 72 189"/>
            <polygon points="53 129 68 143 43 171 53 129 53 129"/>
            <polygon points="22 149 53 129 43 171 22 149 22 149"/>
            <polygon points="123 123 142 126 113 164 123 123 123 123"/>
            <polygon points="252 134 282 141 234 157 252 134 252 134"/>
            <polygon points="270 213 295 258 258 237 270 213 270 213"/>
            <polygon points="282 141 266 175 234 157 282 141 282 141"/>
            <polygon points="252 193 270 213 234 216 252 193 252 193"/>
            <polygon points="266 175 291 195 270 213 266 175 266 175"/>
            <polygon points="207 186 226 176 252 193 207 186 207 186"/>
            <polygon points="202 168 234 157 226 176 202 168 202 168"/>
            <polygon points="168 183 207 186 177 205 168 183 168 183"/>
            <polygon points="154 214 168 183 177 205 154 214 154 214"/>
            <polygon points="126 197 140 172 154 214 126 197 126 197"/>
            <polygon points="177 205 200 206 173 219 177 205 177 205"/>
            <polygon points="154 214 177 205 173 219 154 214 154 214"/>
            <polygon points="223 272 239 296 200 289 223 272 223 272"/>
            <polygon points="270 213 295 224 295 258 270 213 270 213"/>
            <polygon points="256 267 270 284 239 296 256 267 256 267"/>
            <polygon points="223 272 256 267 239 296 223 272 223 272"/>
            <polygon points="189 266 223 272 200 289 189 266 189 266"/>
            <polygon points="233 233 258 237 223 272 233 233 233 233"/>
            <polygon points="212 235 234 216 233 233 212 235 212 235"/>
            <polygon points="150 233 176 247 145 267 150 233 150 233"/>
            <polygon points="176 247 212 235 189 266 176 247 176 247"/>
            <polygon points="145 267 189 266 200 289 145 267 145 267"/>
            <polygon points="295 224 308 262 295 258 295 224 295 224"/>
            <polygon points="303 154 291 195 266 175 303 154 303 154"/>
            <polygon points="291 195 295 224 270 213 291 195 291 195"/>
            <polygon points="234 157 252 193 226 176 234 157 234 157"/>
            <polygon points="177 205 207 186 200 206 177 205 177 205"/>
            <polygon points="207 186 252 193 200 206 207 186 207 186"/>
            <polygon points="266 175 270 213 252 193 266 175 266 175"/>
            <polygon points="234 216 270 213 258 237 234 216 234 216"/>
            <polygon points="200 206 212 235 176 247 200 206 200 206"/>
            <polygon points="154 214 150 233 111 233 154 214 154 214"/>
            <polygon points="202 168 226 176 207 186 202 168 202 168"/>
            <polygon points="202 168 207 186 168 183 202 168 202 168"/>
            <polygon points="200 206 234 216 212 235 200 206 200 206"/>
            <polygon points="182 149 202 168 168 183 182 149 182 149"/>
            <polygon points="193 134 217 138 204 152 193 134 193 134"/>
            <polygon points="251 106 272 115 252 134 251 106 251 106"/>
            <polygon points="272 115 282 97 292 129 272 115 272 115"/>
            <polygon points="189 116 178 101 207 94 189 116 189 116"/>
            <polygon points="206 117 233 109 226 126 206 117 206 117"/>
            <polygon points="226 126 233 109 252 134 226 126 226 126"/>
            <polygon points="252 134 272 115 282 141 252 134 252 134"/>
            <polygon points="282 141 272 115 292 129 282 141 282 141"/>
            <polygon points="282 141 292 129 303 154 282 141 282 141"/>
            <polygon points="193 134 176 129 206 117 193 134 193 134"/>
            <polygon points="193 134 226 126 217 138 193 134 193 134"/>
            <polygon points="217 138 226 126 252 134 217 138 217 138"/>
            <polygon points="233 109 251 106 252 134 233 109 233 109"/>
            <polygon points="182 149 176 129 193 134 182 149 182 149"/>
            <polygon points="217 138 252 134 234 157 217 138 217 138"/>
            <polygon points="110 101 138 97 123 123 110 101 110 101"/>
            <polygon points="123 123 138 97 142 126 123 123 123 123"/>
            <polygon points="92 141 110 101 123 123 92 141 92 141"/>
            <polygon points="110 101 112 83 138 97 110 101 110 101"/>
            <polygon points="53 129 85 114 68 143 53 129 53 129"/>
            <polygon points="84 93 112 83 110 101 84 93 84 93"/>
            <polygon points="57 76 112 83 84 93 57 76 57 76"/>
            <polygon points="138 68 169 69 141 80 138 68 138 68"/>
            <polygon points="169 69 195 76 181 88 169 69 169 69"/>
            <polygon points="169 69 181 88 160 92 169 69 169 69"/>
            <polygon points="-3 45 35 52 16 79 -3 45 -3 45"/>
            <polygon points="57 76 91 55 100 66 57 76 57 76"/>
            <polygon points="91 55 117 67 100 66 91 55 91 55"/>
            <polygon points="100 66 112 83 57 76 100 66 100 66"/>
            <polygon points="100 66 117 67 112 83 100 66 100 66"/>
            <polygon points="35 52 65 41 53 57 35 52 35 52"/>
            <polygon points="53 57 65 41 69 57 53 57 53 57"/>
            <polygon points="57 76 69 57 91 55 57 76 57 76"/>
            <polygon points="53 57 69 57 57 76 53 57 53 57"/>
            <polygon points="16 79 35 52 57 76 16 79 16 79"/>
            <polygon points="35 52 53 57 57 76 35 52 35 52"/>
            <polygon points="65 41 91 55 69 57 65 41 65 41"/>
            <polygon points="32 28 65 41 35 52 32 28 32 28"/>
            <polygon points="117 67 138 68 112 83 117 67 117 67"/>
            <polygon points="140 52 138 68 117 67 140 52 140 52"/>
            <polygon points="-4 17 32 28 -3 45 -4 17 -4 17"/>
            <polygon points="16 79 57 76 49 101 16 79 16 79"/>
            <polygon points="-3 45 32 28 35 52 -3 45 -3 45"/>
            <polygon points="49 101 57 76 84 93 49 101 49 101"/>
            <polygon points="12 107 16 79 49 101 12 107 12 107"/>
            <polygon points="-12 72 -3 45 16 79 -12 72 -12 72"/>
            <polygon points="68 143 85 114 92 141 68 143 68 143"/>
            <polygon points="43 171 68 143 68 163 43 171 43 171"/>
            <polygon points="46 203 43 171 68 163 46 203 46 203"/>
            <polygon points="15 225 21 197 46 203 15 225 15 225"/>
            <polygon points="297 289 304 323 281 310 297 289 297 289"/>
            <polygon points="68 163 68 143 89 161 68 163 68 163"/>
            <polygon points="68 163 89 161 72 189 68 163 68 163"/>
            <polygon points="85 214 92 254 75 250 85 214 85 214"/>
            <polygon points="92 141 113 164 89 161 92 141 92 141"/>
            <polygon points="89 161 113 164 108 189 89 161 89 161"/>
            <polygon points="142 126 140 172 113 164 142 126 142 126"/>
            <polygon points="108 189 126 197 85 214 108 189 108 189"/>
            <polygon points="182 149 168 183 140 172 182 149 182 149"/>
            <polygon points="204 152 234 157 202 168 204 152 204 152"/>
            <polygon points="193 134 204 152 182 149 193 134 193 134"/>
            <polygon points="182 149 140 172 142 126 182 149 182 149"/>
            <polygon points="113 164 140 172 108 189 113 164 113 164"/>
            <polygon points="85 114 110 101 92 141 85 114 85 114"/>
            <polygon points="113 164 92 141 123 123 113 164 113 164"/>
            <polygon points="162 111 142 126 138 97 162 111 162 111"/>
            <polygon points="189 116 176 129 162 111 189 116 189 116"/>
            <polygon points="206 117 226 126 193 134 206 117 206 117"/>
            <polygon points="189 116 206 117 176 129 189 116 189 116"/>
            <polygon points="233 109 206 117 207 94 233 109 233 109"/>
            <polygon points="206 117 189 116 207 94 206 117 206 117"/>
            <polygon points="178 101 189 116 162 111 178 101 178 101"/>
            <polygon points="162 111 176 129 142 126 162 111 162 111"/>
            <polygon points="160 92 178 101 162 111 160 92 160 92"/>
            <polygon points="138 97 160 92 162 111 138 97 138 97"/>
            <polygon points="304 323 297 289 317 297 304 323 304 323"/>
            <polygon points="251 106 282 97 272 115 251 106 251 106"/>
            <polygon points="234 96 251 106 233 109 234 96 234 96"/>
            <polygon points="207 94 234 96 233 109 207 94 207 94"/>
            <polygon points="234 96 239 85 251 106 234 96 234 96"/>
            <polygon points="292 129 302 107 308 128 292 129 292 129"/>
            <polygon points="291 195 303 154 310 195 291 195 291 195"/>
            <polygon points="45 276 65 265 74 285 45 276 45 276"/>
            <polygon points="40 216 46 203 68 224 40 216 40 216"/>
            <polygon points="37 258 50 247 45 276 37 258 37 258"/>
            <polygon points="38 247 50 247 37 258 38 247 38 247"/>
            <polygon points="21 254 37 258 15 274 21 254 21 254"/>
            <polygon points="21 254 38 247 37 258 21 254 21 254"/>
            <polygon points="15 274 37 258 21 284 15 274 15 274"/>
            <polygon points="21 254 15 274 0 280 21 254 21 254"/>
            <polygon points="15 225 38 247 21 254 15 225 15 225"/>
            <polygon points="40 216 35 229 15 225 40 216 40 216"/>
            <polygon points="13 181 43 171 21 197 13 181 13 181"/>
            <polygon points="22 149 43 171 13 181 22 149 22 149"/>
            <polygon points="49 101 53 129 22 149 49 101 49 101"/>
            <polygon points="40 216 45 230 35 229 40 216 40 216"/>
            <polygon points="40 216 68 224 45 230 40 216 40 216"/>
            <polygon points="35 229 38 247 15 225 35 229 35 229"/>
            <polygon points="46 203 40 216 15 225 46 203 46 203"/>
            <polygon points="43 171 46 203 21 197 43 171 43 171"/>
            <polygon points="0 280 15 274 21 284 0 280 0 280"/>
            <polygon points="36 302 18 305 21 284 36 302 36 302"/>
            <polygon points="18 305 0 280 21 284 18 305 18 305"/>
            <polygon points="18 305 0 300 0 280 18 305 18 305"/>
            <polygon points="35 229 45 230 50 247 35 229 35 229"/>
            <polygon points="38 247 35 229 50 247 38 247 38 247"/>
            <polygon points="50 247 68 224 75 250 50 247 50 247"/>
            <polygon points="160 92 181 88 178 101 160 92 160 92"/>
            <polygon points="178 101 181 88 207 94 178 101 178 101"/>
            <polygon points="207 94 239 85 234 96 207 94 207 94"/>
            <polygon points="207 94 218 70 239 85 207 94 207 94"/>
            <polygon points="141 80 160 92 138 97 141 80 141 80"/>
            <polygon points="138 97 112 83 141 80 138 97 138 97"/>
            <polygon points="85 114 84 93 110 101 85 114 85 114"/>
            <polygon points="49 101 84 93 85 114 49 101 49 101"/>
            <polygon points="53 129 49 101 85 114 53 129 53 129"/>
            <polygon points="22 149 12 107 49 101 22 149 22 149"/>
            <polygon points="251 106 239 85 265 90 251 106 251 106"/>
            <polygon points="251 106 265 90 282 97 251 106 251 106"/>
            <polygon points="292 129 282 97 302 107 292 129 292 129"/>
            <polygon points="265 90 262 64 278 75 265 90 265 90"/>
            <polygon points="265 90 244 69 262 64 265 90 265 90"/>
            <polygon points="296 68 283 57 303 56 296 68 296 68"/>
            <polygon points="278 75 296 68 287 86 278 75 278 75"/>
            <polygon points="278 75 287 86 265 90 278 75 278 75"/>
            <polygon points="265 90 287 86 282 97 265 90 265 90"/>
            <polygon points="287 86 299 94 282 97 287 86 287 86"/>
            <polygon points="282 97 299 94 302 107 282 97 282 97"/>
            <polygon points="292 37 308 41 303 56 292 37 292 37"/>
            <polygon points="292 37 308 21 308 41 292 37 292 37"/>
            <polygon points="287 86 306 80 299 94 287 86 287 86"/>
            <polygon points="299 94 313 98 302 107 299 94 299 94"/>
            <polygon points="306 80 313 98 299 94 306 80 306 80"/>
            <polygon points="296 68 303 56 306 80 296 68 296 68"/>
            <polygon points="296 68 306 80 287 86 296 68 296 68"/>
            <polygon points="262 64 283 57 278 75 262 64 262 64"/>
            <polygon points="278 75 283 57 296 68 278 75 278 75"/>
            <polygon points="283 57 292 37 303 56 283 57 283 57"/>
            <polygon points="292 129 308 128 303 154 292 129 292 129"/>
            <polygon points="291 195 310 195 315 230 291 195 291 195"/>
            <polygon points="50 247 65 265 45 276 50 247 50 247"/>
            <polygon points="37 258 45 276 21 284 37 258 37 258"/>
            <polygon points="45 276 36 302 21 284 45 276 45 276"/>
            <polygon points="45 276 57 306 36 302 45 276 45 276"/>
            <polygon points="-3 262 0 280 21 254 -3 262 -3 262"/>
            <polygon points="13 181 -7 187 -2 202 13 181 13 181"/>
            <polygon points="15 225 -3 227 0 243 15 225 15 225"/>
            <polygon points="21 197 -2 202 15 225 21 197 21 197"/>
            <polygon points="-2 141 -6 167 13 181 -2 141 -2 141"/>
            <polygon points="-6 167 -7 187 13 181 -6 167 -6 167"/>
            <polygon points="12 107 -2 121 22 149 12 107 12 107"/>
            <polygon points="12 107 -12 93 -2 121 12 107 12 107"/>
            <polygon points="22 149 -2 121 -2 141 22 149 22 149"/>
            <polygon points="13 181 22 149 -2 141 13 181 13 181"/>
            <polygon points="21 254 0 243 -3 262 21 254 21 254"/>
            <polygon points="21 197 13 181 -2 202 21 197 21 197"/>
            <polygon points="15 225 -2 202 -3 227 15 225 15 225"/>
            <polygon points="16 79 -12 72 -12 93 16 79 16 79"/>
            <polygon points="12 107 16 79 -12 93 12 107 12 107"/>
            <polygon points="15 225 0 243 21 254 15 225 15 225"/>
            <polygon points="268 20 289 9 258 -16 268 20 268 20"/>
            <polygon points="128 16 161 18 170 -1 128 16 128 16"/>
            <polygon points="108 17 128 16 104 -26 108 17 108 17"/>
            <polygon points="237 24 268 20 223 -2 237 24 237 24"/>
            <polygon points="268 20 258 -16 223 -2 268 20 268 20"/>
            <polygon points="179 16 203 14 193 -1 179 16 179 16"/>
            <polygon points="232 51 255 45 237 24 232 51 232 51"/>
            <polygon points="255 45 262 64 277 34 255 45 255 45"/>
            <polygon points="168 35 160 46 187 57 168 35 168 35"/>
            <polygon points="190 33 215 45 211 28 190 33 190 33"/>
            <polygon points="211 28 215 45 237 24 211 28 211 28"/>
            <polygon points="237 24 255 45 268 20 237 24 237 24"/>
            <polygon points="268 20 255 45 277 34 268 20 268 20"/>
            <polygon points="268 20 277 34 289 9 268 20 268 20"/>
            <polygon points="179 16 161 18 190 33 179 16 179 16"/>
            <polygon points="179 16 211 28 203 14 179 16 179 16"/>
            <polygon points="203 14 211 28 237 24 203 14 203 14"/>
            <polygon points="215 45 232 51 237 24 215 45 215 45"/>
            <polygon points="170 -1 161 18 179 16 170 -1 170 -1"/>
            <polygon points="203 14 237 24 223 -2 203 14 203 14"/>
            <polygon points="193 -1 203 14 223 -2 193 -1 193 -1"/>
            <polygon points="93 37 120 44 108 17 93 37 93 37"/>
            <polygon points="108 17 120 44 128 16 108 17 108 17"/>
            <polygon points="80 -6 93 37 108 17 80 -6 80 -6"/>
            <polygon points="93 37 91 55 120 44 93 37 93 37"/>
            <polygon points="40 0 70 20 56 -11 40 0 40 0"/>
            <polygon points="65 41 91 55 93 37 65 41 65 41"/>
            <polygon points="56 -11 70 20 80 -6 56 -11 56 -11"/>
            <polygon points="128 16 132 -30 104 -26 128 16 128 16"/>
            <polygon points="179 16 193 -1 170 -1 179 16 179 16"/>
            <polygon points="170 -1 132 -30 128 16 170 -1 170 -1"/>
            <polygon points="70 20 93 37 80 -6 70 20 70 20"/>
            <polygon points="104 -26 80 -6 108 17 104 -26 104 -26"/>
            <polygon points="145 34 128 16 120 44 145 34 145 34"/>
            <polygon points="168 35 161 18 145 34 168 35 168 35"/>
            <polygon points="190 33 211 28 179 16 190 33 190 33"/>
            <polygon points="168 35 190 33 161 18 168 35 168 35"/>
            <polygon points="215 45 190 33 187 57 215 45 215 45"/>
            <polygon points="190 33 168 35 187 57 190 33 190 33"/>
            <polygon points="160 46 168 35 145 34 160 46 160 46"/>
            <polygon points="195 76 218 70 187 57 195 76 195 76"/>
            <polygon points="195 76 187 57 183 65 195 76 195 76"/>
            <polygon points="195 76 183 65 169 69 195 76 195 76"/>
            <polygon points="183 65 187 57 169 69 183 65 183 65"/>
            <polygon points="169 69 187 57 157 58 169 69 169 69"/>
            <polygon points="138 68 169 69 157 58 138 68 138 68"/>
            <polygon points="141 80 138 68 112 83 141 80 141 80"/>
            <polygon points="138 68 157 58 140 52 138 68 138 68"/>
            <polygon points="145 34 161 18 128 16 145 34 145 34"/>
            <polygon points="140 52 160 46 145 34 140 52 140 52"/>
            <polygon points="181 88 207 94 195 76 181 88 181 88"/>
            <polygon points="195 76 207 94 218 70 195 76 195 76"/>
            <polygon points="218 70 239 85 244 69 218 70 218 70"/>
            <polygon points="244 69 239 85 265 90 244 69 244 69"/>
            <polygon points="160 92 169 69 141 80 160 92 160 92"/>
            <polygon points="120 44 140 52 145 34 120 44 120 44"/>
            <polygon points="232 51 262 64 255 45 232 51 232 51"/>
            <polygon points="215 58 232 51 215 45 215 58 215 58"/>
            <polygon points="187 57 215 58 215 45 187 57 187 57"/>
            <polygon points="215 58 218 70 232 51 215 58 215 58"/>
            <polygon points="277 34 283 57 292 37 277 34 277 34"/>
            <polygon points="32 28 40 0 6 -23 32 28 32 28"/>
            <polygon points="140 52 157 58 160 46 140 52 140 52"/>
            <polygon points="160 46 157 58 187 57 160 46 160 46"/>
            <polygon points="187 57 218 70 215 58 187 57 187 57"/>
            <polygon points="117 67 140 52 120 44 117 67 117 67"/>
            <polygon points="120 44 91 55 117 67 120 44 120 44"/>
            <polygon points="70 20 65 41 93 37 70 20 70 20"/>
            <polygon points="32 28 65 41 70 20 32 28 32 28"/>
            <polygon points="40 0 32 28 70 20 40 0 40 0"/>
            <polygon points="6 -23 -4 17 32 28 6 -23 6 -23"/>
            <polygon points="232 51 218 70 244 69 232 51 232 51"/>
            <polygon points="232 51 244 69 262 64 232 51 232 51"/>
            <polygon points="277 34 262 64 283 57 277 34 277 34"/>
            <polygon points="277 34 292 37 289 9 277 34 277 34"/>
            <polygon points="289 9 292 37 308 21 289 9 289 9"/>
            <polygon points="289 9 308 21 308 -16 289 9 289 9"/>
            <polygon points="258 -16 289 9 308 -16 258 -16 258 -16"/>
          </g>
      </svg>
        
    </div>
    <div id="whiteback"></div>

  </div>

</div>


    <p>
      I’m on <a href="https://codepen.io/collection/NqbPVa" target="_blank">CodePen</a> and <a href="https://www.linkedin.com/in/geedix/" target="_blank">LinkedIn</a>.
    </p>

    <!-- <script type="module">
import { ScrollTrigger } from 'gsap/ScrollTrigger'
import { CustomEase } from "gsap/CustomEase";
      gsap.registerPlugin(ScrollTrigger);
      gsap.registerPlugin(CustomEase);

    </script> -->
<!-- <script is:inline src="../scripts/ScrollTrigger/"></script>
<script is:inline src="../scripts/EasePack/"></script>
<script is:inline src="../scripts/CustomEase/"></script>
<script is:inline src="../scripts/MotionPathPlugin/"></script> -->
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/CustomEase.min.js"></script>
<script is:inline>
    // const { CustomEase } = await import("gsap/CustomEase");
// 
// console.clear();
    // (function () {
document.addEventListener(
    "astro:page-load",
    () => {
// const currentPath = Astro.url.pathname;
// console.log("current:"+currentPath);
//  console.log("using GSAP: ", gsap.version);

//  console.log(ScrollTrigger);

      // gsap.registerPlugin(ScrollTrigger);
gsap.registerPlugin(CustomEase);
      CustomEase.create("tubease", "M0,0 C0,0 0.3,1 0.5,1 0.7,1 1,0.012 1,0");
// const tubease = "back.inOut(22)";
      const dot = document.getElementById("dot"),
        archsvg = document.getElementById("archsvg"),
        phant = document.getElementById("phant"),
        maintl = gsap.timeline({ repeat: 2, yoyo: true, paused: false, repeatDelay: 1.2 }),
        xlocs = [944.8, 963.7, 982.5, 1001.4, 1020.3, 1039.1, 1058.0, 1076.9, 1095.7, 1114.6, 1133.5, 1152.3, 1171.2],
        numrows = 68,
        numcols = 13,
        meanx = 1080,
        tl1 = gsap.timeline({ paused: true }),
        ra = gsap.utils.random,
        orand = () => ra(-1.4, 0.9),
        // xrand = () => ra(900, 1390),
        srand = () => ra(0.26, 0.86),
        crand = () => ra(-10, 10),
        yrand = () => ra(-260,-8),
        rotra = () => ra(-10, 10),
        colrs = ["redot", "redot", "redot", "yedot", "yedot", "yedot", "yedot", "rodot", "rodot", "rodot", "redot", "redot", "redot"],
        xwrap = gsap.utils.wrap(xlocs),
        aMatchMedia = window.matchMedia('(prefers-reduced-motion)');

      const normrand = function () {
        var u = 0,
          v = 0;
        while (u === 0) u = Math.random(); //Converting [0,1) to (0,1)
        while (v === 0) v = Math.random();
        return Math.sqrt(-2.0 * Math.log(u)) * Math.cos(2.0 * Math.PI * v);
      }

      let dotcount = 0,
        xspots = [];

      for (let i = 1; i < numrows + 1; i++) {  //  row times, make batch of 13 in horiz group
        const group = document.createElementNS('http://www.w3.org/2000/svg', 'g');
        group.setAttribute('class', 'grp');
        group.setAttribute('opacity', '0.76');

        if (i < 10) {
          group.setAttribute('id', 'g0' + i);
          // bggrp.setAttribute('id', 'p0' + i);
        }
        else {
          group.setAttribute('id', 'g' + i);
        }
        makeDots(group);
        archsvg.appendChild(group);
      }

      //  console.log("dots, spots:" + dotcount + ", " + xspots);

      tl1.set(".grp", { y: 664 })

        .set(".b4", { x: (eindex) => xspots[eindex], y: yrand, scale: srand, opacity: orand, visibility: "visible" }, "<.1")

        .to(".grp", { y: "-=544", duration: 25, ease: "tubease", stagger: -0.36 }, "<1")  // ease just needs to be out - in?

        // ease of this x tween creates the shape of the arc
        .to(".grp", { x: "+=340", opacity: 1, duration: 24, ease: "power1.inOut", stagger: -0.36 }, "<")
        .to(".b4", { x: xwrap, duration: 11, ease: "power1.inOut", stagger: { each: -0.012, from: "random" } }, "<0.2")
        .to(".rodot", { y: 0, opacity: 1, duration: 7, ease: "back.inOut(0.5)", stagger: -0.02 }, "<2")
        .to(".yedot", { y: 0, opacity: 1, duration: 7, ease: "power1.inOut", stagger: -0.01 }, "<2")
        .to(".redot", { y: 0, opacity: 1, duration: 7, ease: "sine.inOut", stagger: { each: -0.02, from: "random" } }, "<5")
        .to(".b4", { scale: 1, duration: 5 }, "<4")


      function makeDots(targ) {
        for (let h = 0; h < numcols; h++) {
          let newdot = dot.cloneNode(true);
          let targname = targ.id;
          newdot.classList.add("b4");
          newdot.classList.add(colrs[h]);
          newdot.setAttribute('id', 'd' + dotcount);
          targ.appendChild(newdot);
          dotcount++;
          randx = Math.round(meanx + (normrand() * 100));
          xspots.push(randx);
        }
      }
      


      // tl1 = randoms
      // tl2 = tube

      maintl.add(tl1)
        // .add(tl2)

        .set(tl1, { progress: 0.1 })
        // .progress(1).progress(0.05)
        .to(tl1, { progress: 0.26, duration: 4.7, ease: "back.in" }, "<0.4")
        .to(tl1, { progress: 0.5114, duration: 3.9, ease: "sine.out" }, ">");

      function playTweens() {
        if (!aMatchMedia.matches) {
          maintl.play(0);
        }
        else {
          maintl.seek(10, false);
          maintl.pause();
        }
      }
      function pauseTweens() {
        maintl.pause();
      }

      // pause animation when scrolled away, restart when scrolled back into view
      // ScrollTrigger.create({
      //   trigger: "#archsvg",
      //   onEnter: playTweens,
      //   onLeave: pauseTweens,
      //   onEnterBack: playTweens,
      //   onLeaveBack: pauseTweens,
      // });


      // GSDevTools.create({ animation: maintl });

    // }());
    },
  );

//// 

var wrapper = document.getElementById('wrapper');

var newX, newY;
var triangArr = Array.from(document.querySelectorAll('polygon'));

// TweenMax.defaultEase = Sine.easeInOut;
// TweenMax.ticker.fps(20);
var phantomX = { phx: 20 };
var phantomY = { phy: 10 };
var phantX, phantY;

const bluetl = gsap.timeline({paused:true});

bluetl.to(phantomX, 3, {phx:300, roundProps:"phx", onUpdate:updateXHandler})
      .to(phantomY, 10, {phy:300, roundProps:"phy", overwrite:false, onUpdate:updateYHandler}, "<")
      .to(phantomX, 3, {phx:-10, roundProps:"phx", overwrite:false, onUpdate:updateXHandler}, ">")
      .to(phantomX, 4, {phx:310, roundProps:"phx", onUpdate:updateXHandler});


function updateXHandler(){
  phantX= phantomX.phx;
}

function updateYHandler(){
  phantY = phantomY.phy;
  phantomFinger();
}

function phantomFinger(){
  for(var i=0; i<triangArr.length;i++){
    var myTarg = triangArr[i];
    var myRect = myTarg.getBBox();
    dx = (myRect.x+52) - phantX;
    dy = (myRect.y+52) - phantY;
    var myDist = Math.sqrt((dx * dx) + (dy * dy));
    var thisAlph = 1-(myDist*.005);
    myTarg.style.opacity=thisAlph;
  }
}

function mouseAlphas(){
  bluetl.kill();
  for(var i=0; i<triangArr.length;i++){
    var myTarg = triangArr[i];
    var myRect = myTarg.getBBox();
    dx = (myRect.x+52) - newX;
    dy = (myRect.y+52) - newY;
    var myDist = Math.sqrt((dx * dx) + (dy * dy));
    var thisAlph = 1-(myDist*.005);
    myTarg.style.opacity=thisAlph;
  }
}


  gsap.defaultEase = Sine.easeInOut;

  window.onload = function () {
    bluetl.play();
  };
   
  // wrapper.addEventListener("mousemove", updateDisplay, false);
  wrapper.addEventListener("pointermove", updateDisplay, false);
  wrapper.addEventListener("click", null);

  function updateDisplay(event) {

    // let wrapy= Math.round(wrapper.getBoundingClientRect().y) +window.pageYOffset;
    let wrapy= Math.round(wrapper.getBoundingClientRect().y);
    console.log("wrapy:"+wrapy+", window.pageYOffset:"+window.pageYOffset);

    // newX = parseFloat(event.pageX);
    // newY = parseFloat(event.pageY-(wrapy+320));
    // console.log("x:"+newX+", y:"+newY)


    newX = parseFloat(event.offsetX);
    newY = parseFloat(event.offsetY);
    mouseAlphas();
  }



</script>

  </section>
</BaseLayout>
