---
import Social from './Social.astro';
const year = new Date().getFullYear();
---

<footer>
    <p>
&copy; {year} JOHNSON 
</p>
<!-- <p>Let's be horrified together on <a href={`https://bsky.app/profile/geedix.bsky.social`}>{platform}</a>!</p> -->
  <!-- <Social platform="bluesky.app" username="geedix" /> -->


  <!-- <Social platform="Github" username="geedix" />
  <Social platform="Youtube" username="olddadsadbrad" />
  <a href="https://bsky.app/profile/geedix.bsky.social">Bluesky</a> -->

<hr class="footr"> 
</footer>

