---
import Social from './Social.astro';
const year = new Date().getFullYear();
---

<footer>
&copy; {year} JOHNSON 

<!-- <p>Let's be horrified together on <a href={`https://bsky.app/profile/geedix.bsky.social`}>{platform}</a>!</p> -->
  <!-- <Social platform="bluesky.app" username="geedix" /> -->


  <!-- <Social platform="Github" username="geedix" />
  <Social platform="Youtube" username="olddadsadbrad" />
  <a href="https://bsky.app/profile/geedix.bsky.social">Bluesky</a> -->


</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>