---
---

<div class="nav-links"> 
    <!-- <a href="/">Home</a> -->
    <a href="/about/">About</a>
    <a href="/work/">Web Animation</a>
    <!-- <a href="/blog/">Blog</a> -->
    <!-- <a href="/comics/">Comics</a> -->

    <a href="/contact/">Contact</a>
    <!-- <a href="/tags/">Tags</a> -->



</div>



<script is:inline>
    // import { gsap } from "gsap";

    document.addEventListener("astro:page-load", () => {
        const hamburger = document.querySelector(".hamburger");
        const navlinks = document.querySelector(".nav-links");
        const lines = document.querySelectorAll(".hamburger .line");

        if (hamburger && navlinks) {
            hamburger.addEventListener("click", () => {
                navlinks.classList.toggle("expanded");
                // hamburger.classList.toggle("is-active");
                lines.forEach(line => {
                    line.classList.toggle("is-active");
                }); 
                
                // gsap.from(".nav-links a", {y:"-=250", stagger:0.1, duration:0.5, ease:"back.inOut"})
            });
        }
    });
</script>
