---
---

<div class="nav-links"> 
    <!-- <a href="/">Home</a> -->
    <a href="/about/">About</a>
    <a href="/work/">Work</a>
    <!-- <a href="/blog/">Blog</a> -->

    <a href="/contact/">Contact</a>
    <!-- <a href="/tags/">Tags</a> -->
</div>

<script is:inline>
    document.addEventListener("astro:page-load", () => {
        const hamburger = document.querySelector(".hamburger");
        const navlinks = document.querySelector(".nav-links");
        const lines = document.querySelectorAll(".hamburger .line");

        if (hamburger && navlinks) {
            hamburger.addEventListener("click", () => {
                navlinks.classList.toggle("expanded");
                // hamburger.classList.toggle("is-active");
                lines.forEach(line => {
                    line.classList.toggle("is-active");
                }); 
            });
        }
    });
</script>