---
// import { ClientRouter } from "astro:transitions";
// import { fade } from "astro:transitions";
// import { slide } from "astro:transitions";
---

<div class="nav-links collapsid" > 
    <!-- transition:animate="slide" -->
    <!-- <a href="/">Home</a> -->
    <a href="/about/">About</a>
    <a href="/work/">Animation</a>
    <!-- <a href="/blog/">Blog</a> -->
    <!-- <a href="/comics/">Comics</a> -->
    <!-- <a href="/couples/">Couples</a> -->

    <a href="/contact/">Contact</a>
    <!-- <a href="/tags/">Tags</a> -->



</div>
<!-- <script is:inline>
  const nav = document.querySelector(".nav-links");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script> -->
    <!-- <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js">
  </script> -->
  <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
<script is:inline>
    // import { gsap } from "gsap";

  document.addEventListener("astro:page-load", () => {
  const nav = document.querySelector(".nav-links");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });



        const hamburger = document.querySelector(".hamburger");
        const navlinks = document.querySelector(".nav-links");
        const lines = document.querySelectorAll(".hamburger .line");

        if (hamburger && navlinks) {
            hamburger.addEventListener("click", () => {
                navlinks.classList.toggle("expanded");
                navlinks.classList.toggle("collapsid");
                // hamburger.classList.toggle("is-active");
                lines.forEach(line => {
                    line.classList.toggle("is-active");
                }); 
                // gsap.from(".nav-links a", {y:"-=250", stagger:0.1, duration:0.5, ease:"back.inOut"})
            });
        }
    });
</script>
